h2{
    padding:0.4rem;
}
#art-set{
    margin:0 auto;
    width:70%;
    max-width:700px;
    background-color: var(--culoare-divuri);
    box-shadow: 0px 0px 10px 5px grey;
    padding:0.4rem;
}

#art-set p{
    margin:0;
    padding:0.4rem;
    font-weight:bold;
    font-size:1.1rem;
}

#art-set p span{
    font-weight: normal;
}
.imag-set{
    text-align: center;
}
.imag-set img{
    width:50%;
    height:auto;
}
section {
    margin-bottom: 300px;
}
@media screen and (max-width: 700px){
    #art-set{
        margin:0 auto;
        width:95%;
    }
}
