
body {
        --culoare-principala: #DEBF62;
        --culoare-hover: #B3963A;
        --alb: #FFFFFF;
        --culoare-borders: #917004;
        --culoare-secundara: #232e2f;
        --culoare-footer: #141c1c;
        --culoare-articol: #a89049;
        --negru: #000000;
        overflow-x: hidden;
    }


main{
    --padd-main:1rem;
    padding: var(--padd-main);
}

.grid-seturi{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-seturi .set{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.4rem 0.15rem var(--negru);
    overflow: hidden;
    text-align: center;
}

.grid-seturi .set h3{
    background-color: var(--culoare-secundara);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 2px 5px var(--negru);
}

.grid-seturi .set h3 a{
    color:var(--culoare-principala);
}
.grid-seturi .set h3 a:hover{
    color:var(--culoare-hover);
}


.grid-seturi .set figure{
    text-align: center;
}
.gridarticol .col1 p{
    text-align: center;
}
.grid-seturi .set figure img{
    border:3px solid var(--negru);
}

.grid-seturi .set figure{
    padding: 20px 20px 0px 20px ;
}

.grid-seturi .set p>span{
    padding-left: 5px;
}

.grid-seturi .set p.tip{
    padding: 5px;
    text-align:center;
    font-weight:bold;
}

.descriere{
    padding: 5px;
    margin-bottom: 20px;
}

.contine{
    padding: 5px;
}


.set{
    background-color: var(--culoare-articol);
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    background-color: var(--culoare-mov);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.selecteaza-cos:hover{
    background-color: var(--alb);
    color: var(--negru);
    border:1px solid  var(--negru);
}

.nume {
    color: var(--alb);
}


.set {
    background: linear-gradient(to right, var(--culoare-footer), var(--culoare-articol));
    color: white;
}

.hseturi{
    padding: 10px;
    font-size: 2rem;
    text-indent: 40px;
    text-shadow: .5px .5px .5px var(--negru);
    border: none;
    margin: 0;
}