<header>
    <div class="header-top">
        <img class="banner" src="/resurse/imagini/logo/logo.png" alt="[logo]">
        <img src="/resurse/imagini/logo/logonobg.png" width="100" height="100" usemap="#logomap" alt="[logo]">
        <map name="logomap">
            <area shape="rect" coords="0,0,100,100" href="/" alt="[Logo]">
        </map>
        <h1 class="titlusite">Golden Bites</h1>
        <button id="theme-toggle" class="theme-toggle">
            <i class="fa-solid fa-sun"></i>
        </button>

    </div>
    <div id="burgermenunavbar">
        <input type="checkbox" id="burger-toggle">
        <label id="burgermenu" for="burger-toggle">
            <i class="fa-solid fa-bars fa-sm"></i>
        </label>
        <nav class="navbar">
            <ul>
                <li class="butoaneprincipale">
                    <a href="/">
                        <span id="iconcasa"><i class="fa-solid fa-house fa-sm"></i></span>
                    </a>
                    <a href="/" id="butonacasa">Acasa</a>
                </li>
                <li class="butoaneprincipale">
                    <a href="/produse">Produse proaspete</a>
                    <ol class="items">
                        <!-- <li><a href="/pui">Produse din pui</a></li>
                        <li><a href="/vita">Produse din vita</a></li>
                        <li><a href="/garnituri">Garnituri</a></li>
                        <li><a href="/deserturi">Deserturi</a></li> -->
                        <% for (let opt of locals.optiuniMeniu) { %>
                        <li><a href="/produse?tip=<%= opt.unnest %>"><%= opt.unnest %></a></li>
                        <% }  %>
                    </ol>
                </li>
                <li class="butoaneprincipale">
                    <a href="/seturi">Seturi</a>
                </li>
                <li class="butoaneprincipale">
                    <a href="/despre">Despre</a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="/resurse/js/theme.js" type="text/javascript"></script>
</header>